{{ form_start(form) }}
    {{ form_errors(form) }}

<div class="row">

    <div class="small-12 large-2 columns">
        {{ form_label(form.caHt) }}
        {{ form_errors(form.caHt) }}
        {{ form_widget(form.caHt) }}
    </div>

    <div class="small-12 large-2 columns">
        {{ form_label(form.salaire) }}
        {{ form_errors(form.salaire) }}
        {{ form_widget(form.salaire) }}
    </div>

    <div class="small-12 large-2 columns">
        {{ form_label(form.frais) }}
        {{ form_errors(form.frais) }}
        {{ form_widget(form.frais) }}
    </div>

    <div class="small-12 large-2 columns">
        {{ form_label(form.cfe) }}
        {{ form_errors(form.cfe) }}
        {{ form_widget(form.cfe) }}
    </div>

    <div class="small-12 large-2 columns">
        {{ form_label(form.cotisationsSocialesDejaVerseesEnN) }}
        {{ form_errors(form.cotisationsSocialesDejaVerseesEnN) }}
        {{ form_widget(form.cotisationsSocialesDejaVerseesEnN) }}
    </div>

    <div class="small-12 large-2 columns">
        {{ form_label(form.cotisationRegime) }}
        {{ form_errors(form.cotisationRegime) }}
        {{ form_widget(form.cotisationRegime) }}
    </div>

</div><!-- /.row -->

{{ form_end(form) }}