{% extends "OkcTnsBundle::layout.html.twig" %}
{% import "OkcTnsBundle::macros.html.twig" as macros %}

 {% block content_header %}
     {%  include 'OkcTnsBundle::chargesForm.html.twig' %}

 {% endblock %}

{% block content %}

    {%   if calculs.totalCharges > calculs.caHt %}
        <h2 class="text-center"> Déficit :
        <strong style="color:red"> {{ calculs.totalCharges - calculs.caHt }} €</strong>
    {% else %}
        <h2 class="text-center"> Bénéfice :
            <strong style="color:green">{{ calculs.totalCharges - calculs.caHt }} €< € </strong></h2>
    {% endif %}

    <h3> Récapitulatif de vos charges <div style="float:right"> <a class="tiny button secondary radius" href="javascript:window.print()">Imprimer</a> </div></h3>

    <table>
        <thead>
        <tr>
            <th>
                Poste
            </th>
            <th>
                Montant
            </th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <td>
                Rémunération
            </td>
            <td>
                {{ calculs.salaire }}
            </td>
        </tr>

        <tr>
            <td>
                Cotisations sociales
            </td>
            <td>
                {{ calculs.totalCotisationsSociales }}
                <ul>

                    {% for value in calculs.getTotalCotisationsSocialesParOrganismes %}
                        <li> {{ value.label }} {{ value.total }} </li>
                    {% endfor %}

                </ul>
            </td>
        </tr>

        <tr>
            <td>
                Impot sur la société
            </td>
            <td>
                {{ calculs.is.total}}
            </td>
        </tr>

        <tr>
            <td>
                Frais
            </td>
            <td>
                {{  calculs.frais }}
            </td>
        </tr>

        <tr>
            <td>
                CFE
            </td>
            <td>
                {{ calculs.cfe }}
            </td>
        </tr>

        <tr>
            <td>
                <strong>Total</strong>
            </td>
            <td>
                <strong> {{ calculs.totalCharges}} </strong>
            </td>
        </tr>

        </tbody>
    </table>

    <h3> Détails des calculs </h3>
    <table>
    <thead>
    <tr>
        <th>
            Nom
        </th>
        <th>
            Organisme
        <th>
            Base calcul
        </th>
        <th>
            Taux
        </th>
        <th>
            Montant
        </th>

    </tr>
    </thead>
    <tbody>

    {{ macros.table_row(
    'Allocations Familiales',
    calculs.allocationsFamiliales.total,
    calculs.baseCalculCotisationsSociales,
    datas.allocationsFamiliales.tranches.0.taux,
    calculs.getOrganisme('allocationsFamiliales').label
    )}}

    {{ macros.table_row(
    'Formation professionnelle',
    calculs.formationProfessionnelle.total,
    calculs.formationProfessionnelle.tranches.0.baseCalcul,
    calculs.formationProfessionnelle.tranches.0.taux,
    calculs.getOrganisme('formationProfessionnelle').label
    )}}

    {{ macros.table_row(
    'Maladie maternité',
    calculs.maladieMaternite.total,
    calculs.maladieMaternite.tranches.0.baseCalcul,
    calculs.maladieMaternite.tranches.0.taux,
    calculs.getOrganisme('maladieMaternite').label
    )}}


    {# // si premiere année, pas de tranche mais un forfait #}
    {% if calculs.assuranceVieillesseBase.tranches is defined %}

        {{ macros.table_row(
        'Assurance vieillesse base tranche 1',
        calculs.assuranceVieillesseBase.tranches.0.cotisation,
        calculs.assuranceVieillesseBase.tranches.0.baseCalcul,
        calculs.assuranceVieillesseBase.tranches.0.taux,
        calculs.getOrganisme('assuranceVieillesseBase').label
        )}}

        {{ macros.table_row(
        'Assurance vieillesse base tranche 2',
        calculs.assuranceVieillesseBase.tranches.1.cotisation,
        calculs.assuranceVieillesseBase.tranches.1.baseCalcul,
        calculs.assuranceVieillesseBase.tranches.1.taux,
        calculs.getOrganisme('assuranceVieillesseBase').label
        )}}

    {% endif %}


    {{ macros.table_row(
    'Assurance vieillesse base total',
    calculs.assuranceVieillesseBase.total,
    ' voir tranches ',
    ' voir tranches ',
    calculs.getOrganisme('assuranceVieillesseBase').label
    )}}

    {{ macros.table_row(
    'Assurance vieillesse complémentaire',
    calculs.assuranceVieillesseComplementaire.total,
    calculs.baseCalculCotisationsSociales,
    'tranche ' ~ calculs.assuranceVieillesseComplementaire.trancheActive.nom,
    calculs.getOrganisme('assuranceVieillesseComplementaire').label
    )}}

    {{ macros.table_row(
    'Invalidité décès',
    calculs.invaliditeDeces.total,
    calculs.baseCalculCotisationsSociales,
    'classe ' ~  calculs.classeInvaliditeDeces,
    calculs.getOrganisme('invaliditeDeces').label
    )}}

    {{ macros.table_row(
    'Total cotisation hors CSG / CRDS',
    calculs.totalCotisationsSocialesHorsCsg
    )}}

    {{ macros.table_row(
    'CSG Déductible',
    calculs.csgDeductible.total,
    calculs.baseCalculCsgCrds,
    calculs.csgDeductible.tranches.0.taux,
    calculs.getOrganisme('csgDeductible').label
    )}}


    {{ macros.table_row(
    'CSG Non Déductible',
    calculs.csgNonDeductible.total,
    calculs.baseCalculCsgCrds,
    calculs.csgNonDeductible.tranches.0.taux,
    calculs.getOrganisme('csgNonDeductible').label
    )}}

    {{ macros.table_row(
    'CRDS Non Déductible',
    calculs.crds.total,
    calculs.baseCalculCsgCrds,
    calculs.crds.tranches.0.taux,
    calculs.getOrganisme('crds').label
    )}}

    {{ macros.table_row(
    'CSG / CRDS',
    calculs.csgCrds,
    '',
    '',
    calculs.getOrganisme('csgDeductible').label
    )}}

    {{ macros.table_row(
    'TOTAL COTISATIONS SOCIALES AVEC CSG / CRDS',
    calculs.totalCotisationsSociales,
    '',
    ''
    )}}


    <tr>
        <td>
            Pourcentage cotisations par rapport à la rémunération :
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            {% if (calculs.salaire > 0) %}
                {{ (calculs.totalCotisationsSociales * 100) / calculs.salaire }}
            {% endif %}
        </td>
    </tr>


    {{ macros.table_row(
    'Impot sur la société tranche 1',
    calculs.is.tranches.0.cotisation,
    calculs.is.tranches.0.baseCalcul,
    calculs.is.tranches.0.taux
    )}}

    {{ macros.table_row(
    'Impot sur la société tranche 2',
    calculs.is.tranches.1.cotisation,
    calculs.is.tranches.1.baseCalcul,
    calculs.is.tranches.1.taux
    )}}


    {{ macros.table_row(
    'Total Is',
    calculs.is.total
    )}}

    </tbody>

    </table>

{% endblock %}